<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %> 
  <div class=" w-full flex flex-wrap justify-center">
    <%= search_form_for @q do |f| %>  
    <div class="bg-zinc-50 inline-flex self-center rounded-lg m-4 p-2"> 
      <%= f.search_field :name_cont, placeholder:"Name",class:"m-4 rounded-lg" %> 
      <%= f.submit  'Search',name: '', class:"bg-black hover:bg-green-700 text-white font-bold py-0 px-10 rounded-lg" %>
    </div>
    <%# <div class="inline-flex self-center rounded-sm ring-offset-2 ring ring-blue-700 m-4 p-2"> %>
      <%# <%= f.search_field :ingredients_cont, placeholder:"Ingredients",class:"m-4 rounded-md" %>
      <%# <%= f.submit 'Search',name: '', class:"p-2" %>
    <%# </div>  %>
    <% end %>
      <div class="container w-full"> 
        <div class="flex flex-wrap justify-center">
          <%= render @cocktails %>
        </div>
      </div>
  </div>   

 

  <%# <div class="flex justify-between items-center">
    <%# <h1 class="font-bold text-4xl">Cocktails</h1> %>
    <%# <%= link_to 'New cocktail', new_cocktail_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <%# </div> %> 
  <%# <% @cocktails.limit.each do |coctail| %> 
  <%# <div id="" class="">
  </div>  %>
  <%# <% end %>
</div> 
    <%# <div class="inline-flex">
      <%= link_to cocktails_path do %>
        <%# <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <%# <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
      <% end %>
    <%# </div>  %>
      
  



