<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %> 
  <div class=" w-full flex flex-wrap justify-center">
    <%= search_form_for @q do |f| %>  
    <div class="bg-zinc-50 inline-flex self-center rounded-lg m-4 p-2"> 
      <%= f.search_field :name_cont, placeholder:"Name",class:"m-4 rounded-lg" %> 
      <%= f.submit  'Search',name: '', class:"bg-black hover:bg-green-700 text-white font-bold py-0 px-10 rounded-lg" %>
    </div>
    <% end %>
      <div class="container w-full"> 
        <div class="flex flex-wrap justify-center">
          <%= render @cocktails %>
        </div>
      </div>
  </div>   
</div> 

      
  



