    <% if notice.present? %>
          <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium   inline-block" id="notice"><%= notice %></p>
    <% end %> 
<%# <div class="w-full"> %>
  <div class="w-full flex flex-wrap justify-center">   
  <div class="bg-zinc-50 inline-flex self-center rounded-lg m-4 p-2"> 
    <h1 class="capitalize m-4">@<%= current_user.username %></h1> 
    <%# <img src="https://img.icons8.com/ios-filled/30/undefined/guest-male--v2.png"> %>
  </div> 
  <div class="container w-full">
    <div class="flex flex-wrap justify-center">
  
      <%= current_user.cocktails.each do |cocktail| %>
        
      <div class="m-4" id="<%= dom_id cocktail %>">  
              <%= link_to cocktail do%>
        <div class="w-full rounded-md p-5 border-b-4 border-black bg-zinc-50">
          <div class="rounded-md overflow-hidden m-4"> 
            <% cocktail.images.each do |image| %>
                <%= image_tag image.blob.representation(resize_to_fill:[250,250]), class:"rounded-l w-full"%>
              <% end %>
          </div> 
                  
          <div class="pb-4 text-center">
            <%# <strong class="">Name:</strong> %>
            <h1 class="text-gray-900 text-xl font-bold"><%= cocktail.name%></h1>  
          </div>
        </div>
      </div>
      <% end %>
    </div> 
  </div>
            <% end %>
  </div>
</div> 
          

  
  
  
  
  
  
  

    
                  

