<!DOCTYPE html>
<html>
  <head>
    <title>Startupbrand</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap" rel="stylesheet">
    
  </head>

  <body class="flex flex-col min-h-screen bg-black font-barlow"> 
    <%= render "home/header"%>
    <main class="h-screen rounded-sm">
      <%= yield %>
    </main> 
    <%# <%= render 'home/footer' %>
  </body>
</html>
